<h5 class="card-header bg-gray rounded-0">Atividades</h5>
<div class="card-body">
    <div class="row mb-3">
        <div class="col-md-12">
            Trabalha?
            <div class="form-check-inline p-0 ms-2">
                <input type="radio" name="atividades-{{ atividades_form.trabalha.name }}" data-target="{{ atividades_form.trabalha.name }}" value="Sim" class="form-check-input me-1 radio-toggle" required="" id="id_atividades_{{ atividades_form.trabalha.name }}-Sim" {% if atividades_form.trabalha.value and atividades_form.trabalha.value != "Não" %} checked {% endif %}>
                <label class="form-check-label" for="id_atividades_{{ atividades_form.trabalha.name }}-Sim">Sim</label>
            </div>
            <div class="form-check-inline p-0">
                <input type="radio" name="atividades-{{ atividades_form.trabalha.name }}" data-target="{{ atividades_form.trabalha.name }}" value="Não" class="form-check-input me-1 radio-toggle" required="" id="id_atividades_{{ atividades_form.trabalha.name }}-Não" {% if atividades_form.trabalha.value == "Não" %} checked {% endif %}>
                <label class="form-check-label" for="id_atividades_{{ atividades_form.trabalha.name }}-Não">Não</label>
            </div>
            <div style="display: none;" id="{{ atividades_form.trabalha.name }}">{{ atividades_form.trabalha }}</div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-12">
            Estuda?
            <div class="form-check-inline p-0 ms-2">
                <input type="radio" name="atividades-{{ atividades_form.estuda.name }}" data-target="{{ atividades_form.estuda.name }}" value="Sim" class="form-check-input me-1 radio-toggle" required="" id="id_atividades_{{ atividades_form.estuda.name }}-Sim" {% if atividades_form.estuda.value and atividades_form.estuda.value != "Não" %} checked {% endif %}>
                <label class="form-check-label" for="id_atividades_{{ atividades_form.estuda.name }}-Sim">Sim</label>
            </div>
            <div class="form-check-inline p-0">
                <input type="radio" name="atividades-{{ atividades_form.estuda.name }}" data-target="{{ atividades_form.estuda.name }}" value="Não" class="form-check-input me-1 radio-toggle" required="" id="id_atividades_{{ atividades_form.estuda.name }}-Não" {% if atividades_form.estuda.value == "Não" %} checked {% endif %}>
                <label class="form-check-label" for="id_atividades_{{ atividades_form.estuda.name }}-Não">Não</label>
            </div>
            <div style="display: none;" id="{{ atividades_form.estuda.name }}">{{ atividades_form.estuda }}</div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-12">
            Frequenta clubes ou associações?
            <div class="form-check-inline p-0 ms-2">
                <input type="radio" name="atividades-{{ atividades_form.clubes_associacoes.name }}" data-target="{{ atividades_form.clubes_associacoes.name }}" value="Sim" class="form-check-input me-1 radio-toggle" required="" id="id_atividades_{{ atividades_form.clubes_associacoes.name }}-Sim" {% if atividades_form.clubes_associacoes.value and atividades_form.clubes_associacoes.value != "Não" %} checked {% endif %}>
                <label class="form-check-label" for="id_atividades_{{ atividades_form.clubes_associacoes.name }}-Sim">Sim</label>
            </div>
            <div class="form-check-inline p-0">
                <input type="radio" name="atividades-{{ atividades_form.clubes_associacoes.name }}" data-target="{{ atividades_form.clubes_associacoes.name }}" value="Não" class="form-check-input me-1 radio-toggle" required="" id="id_atividades_{{ atividades_form.clubes_associacoes.name }}-Não" {% if atividades_form.clubes_associacoes.value == "Não" %} checked {% endif %}>
                <label class="form-check-label" for="id_atividades_{{ atividades_form.clubes_associacoes.name }}-Não">Não</label>
            </div>
            <div style="display: none;" id="{{ atividades_form.clubes_associacoes.name }}">{{ atividades_form.clubes_associacoes }}</div>
        </div>
    </div>
    <!-- Seção de Seleção Múltipla (Esportes) -->
    <div class="card mt-3 border-1 p-0">
        <div class="card-header">
            Esportes que pratica
        </div>
        <div class="col-12 mb-4">
            {{ atividades_form.esportes }}
        </div>
    </div>

    <!-- Seção de Seleção Múltipla (Habilidades) -->
    <div class="card mt-3 border-1 p-0">
        <div class="card-header">
            Habilidades que possui
        </div>
        <div class="col-12 mb-4">
            {{ atividades_form.habilidades }}
        </div>
    </div>

    <!-- Seção de Seleção Múltipla (Instrumentos) -->
    <div class="card mt-3 border-1 p-0">
        <div class="card-header">
            Instrumentos que toca
        </div>
        <div class="col-12 mb-4">
            {{ atividades_form.instrumentos }}
        </div>
    </div>
</div>