{% load static %}
<nav class="navbar navbar-expand bg-body-secondary fixed-top navbar-custom">
  <div class="container-fluid">
    <img src="{% static '/images/logo.png' %}" alt="Logo" class="logo-bpe">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse nav-links-custom" id="navbar">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <form class="d-flex" role="search" method="GET" action="{% url 'buscar' %}">
            <input class="form-control form-control-sm me-2" type="search" placeholder="Nome, CPF ou RA" aria-label="Search" value="{{ termo_busca|default:'' }}" name="termo"/>
            <button class="btn btn-outline-secondary" type="submit">Procurar</button>
          </form>
        </li>
      </ul>
    </div>
  </div>
</nav>